<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeowMatch - Landing</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>

  <body>
    <div main-container>
      <h1>
        <span class="highlight-1">Find Your</span><br>
        <span class="highlight-2">Purr-Fect</span><br>
        <span class="highlight-3">Match!🐾</span>
      </h1>

      <img class="cat-img" src="static/images/Oyen.png" alt="Cute Cat">

      <div class="start-text">Tap to Start ...</div>
    </div>

    <script src="static/js/index.script.js"></script>
  </body>
</html>